body {
    font-family: 'PT Mono', monospace;
    text-align: center;
    color: #BBBBBB;
    background-color: black;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.shadow1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#content {
    margin-bottom: 0px;
}

#mygall {
    /*min-width: 800px;*/
    width: 90%;
    max-width: 1300px;
    margin: 30px auto;
}

#studio {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
}

a:hover {
    text-decoration: underline;
}

footer {
    clear: both;
    margin-top: 50px;
}

.photobox {
    display: block;
    text-align: center;
    margin: 10px;
    float: left;
    height: 250px;
    width: 250px;
    line-height: 250px;
    border: 1px solid #303030;
    padding: 10px;
    vertical-align: middle;
    position: relative;
}

.photobox img {
    max-width: 250px;
    max-height: 250px;
    display: inline;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.photobox:hover {
    border: 1px solid #BBBBBB;
}

figure {
    display: none;
}



@media screen and (max-width: 600px) {
/*    #mygall {
        min-width: 0px;
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }*/
    .photobox {
        display: inline-block;
        float: none;
    }
}